.feature-disease {
  width: 100%;
  height: 100%;
}
.feature-disease .wrapper {
  width: 100%;
  max-width: 1280px;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 20px;
  box-sizing: border-box;
}
.feature-disease .wrapper .feat-disease-text {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
@media (max-width: 768px) {
  .feature-disease .wrapper .feat-disease-text {
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
  }
}
.feature-disease .wrapper .feat-disease-text .feat-disease-link {
  width: 180px;
  min-height: 25px;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 8px;
  padding: 5px;
  background-color: #fff;
  text-align: center;
}
.feature-disease .wrapper .feat-disease-text .feat-disease-link:hover {
  color: #50b938;
}
.feature-disease .wrapper .feat-disease-text .feat-disease-link a {
  text-decoration: none;
  color: black;
  display: block;
}
.feature-disease .wrapper .feat-disease-text h2 {
  font-size: clamp(28px, 4vw, 44px);
  margin-bottom: 8px;
}
.feature-disease .wrapper .feat-disease-text p {
  font-size: 16px;
  font-weight: 300;
}
.feature-disease .wrapper .disease-catalog {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}
.feature-disease .wrapper .disease-catalog .card {
  background-color: #fff;
  border-radius: 20px;
  width: 100%;
}
.feature-disease .wrapper .disease-catalog .card .dis-box {
  width: 100%;
}
.feature-disease .wrapper .disease-catalog .card .dis-box .dis-box-wrap {
  display: flex;
  flex-direction: row;
  border: 0.5px solid rgb(200, 200, 200);
  border-radius: 20px;
  overflow: hidden;
}
@media (max-width: 768px) {
  .feature-disease .wrapper .disease-catalog .card .dis-box .dis-box-wrap {
    flex-direction: column;
  }
}
.feature-disease .wrapper .disease-catalog .card .dis-box .dis-box-wrap .dis-box-img {
  width: 256px;
  flex-shrink: 0;
}
@media (max-width: 768px) {
  .feature-disease .wrapper .disease-catalog .card .dis-box .dis-box-wrap .dis-box-img {
    width: 100%;
    height: 200px;
  }
}
.feature-disease .wrapper .disease-catalog .card .dis-box .dis-box-wrap .dis-box-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 0 0 20px;
}
@media (max-width: 768px) {
  .feature-disease .wrapper .disease-catalog .card .dis-box .dis-box-wrap .dis-box-img img {
    border-radius: 20px 20px 0 0;
  }
}
.feature-disease .wrapper .disease-catalog .card .dis-box .dis-box-wrap .dis-box-block {
  padding: clamp(16px, 3vw, 24px);
  flex-grow: 1;
}
.feature-disease .wrapper .disease-catalog .card .dis-box .dis-box-wrap .dis-box-block .title {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.feature-disease .wrapper .disease-catalog .card .dis-box .dis-box-wrap .dis-box-block .title span {
  width: -moz-max-content;
  width: max-content;
  max-width: 100%;
  padding: 4px 16px;
  background-color: #009966;
  color: white;
  border-radius: 8px;
  font-size: 14px;
  font-family: var(--theme);
  box-sizing: border-box;
}
.feature-disease .wrapper .disease-catalog .card .dis-box .dis-box-wrap .dis-box-block .title h2 {
  font-family: var(--theme);
  font-size: clamp(20px, 3vw, 28px);
  margin-bottom: 8px;
}
.feature-disease .wrapper .disease-catalog .card .dis-box .dis-box-wrap .dis-box-block .info p {
  font-family: var(--theme);
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 16px;
}
.feature-disease .wrapper .disease-catalog .card .dis-box .dis-box-wrap .dis-box-block .symptoms-block .symptoms-wrap {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 12px;
}
.feature-disease .wrapper .disease-catalog .card .dis-box .dis-box-wrap .dis-box-block .symptoms-block .symptoms-wrap p {
  font-family: var(--theme);
  font-size: 14px;
  font-weight: 600;
}
.feature-disease .wrapper .disease-catalog .card .dis-box .dis-box-wrap .dis-box-block .symptoms-block .symptoms-wrap .symptoms-dis {
  max-width: 100%;
  flex-wrap: wrap;
  display: flex;
  gap: 8px;
}
.feature-disease .wrapper .disease-catalog .card .dis-box .dis-box-wrap .dis-box-block .symptoms-block .symptoms-wrap .symptoms-dis span {
  border: 0px solid transparent;
  border-radius: 18px;
  background-color: #e2e0e0;
  font-size: 12px;
  padding: 4px 10px;
  font-family: var(--theme);
}
.feature-disease .wrapper .disease-catalog .card .dis-box .dis-box-wrap .dis-box-block .symptoms-block button {
  border: 0px solid transparent;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}
.feature-disease .wrapper .disease-catalog .card .dis-box .dis-box-wrap .dis-box-block .symptoms-block button a {
  list-style: none;
  text-decoration: none;
  color: #009966;
  font-weight: 500;
}
.feature-disease .wrapper .disease-catalog .card .dis-box .dis-box-wrap .dis-box-block .symptoms-block button a:hover {
  text-decoration: underline;
}/*# sourceMappingURL=featdis.css.map */